.mainHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--indent-3);
}

.textHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--indent-3);
  margin: var(--indent-5) 0;
}

.mainLogoImg {
  border: var(--border-width-bold) solid var(--color-text);
  border-radius: 100%;
  max-width: var(--width-6);
  max-height: var(--width-6);
}
