.frame {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  /* margin: var(--indent-4); */
}

.sectionCategories {
  width: 30%;
  padding: var(--indent-3);
  border-right: 1px solid var(--color-primary);
}

.sectionMain {
  padding: var(--indent-3) var(--indent-6);
  max-height: 100vh;
  overflow: scroll;
  scroll-behavior: auto;
}

.notesList {
  max-width: 70%;
}

@media (max-width: 1300px) {
  .frame {
    margin: var(--indent-1);
    flex-direction: row;
  }

  .sectionMain {
    max-width: 100%;
    padding: var(--indent-1);
  }

  .notesList {
    max-width: 100%;
  }
}
