.frame {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.alt {
  width: 35%;
  margin: var(--indent-3);
  border-right: 1px solid var(--color-primary);
  overflow: scroll;
}

.main {
  padding: var(--indent-3) var(--indent-6);
  width: 65%;
  min-height: 100vh;
  overflow: scroll;
  scroll-behavior: auto;
}

@media (max-width: 1300px) {
  .frame {
    flex-direction: row;
  }

  .main {
    max-width: 100%;
    padding: var(--indent-1);
  }
}
