@import url("https://fonts.googleapis.com/css2?family=Abel&family=Inter:wght@400;700&family=Lora:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* FONT */
  --font-weight-light: 400;
  --font-weight-mid: 500;
  --font-weight-strong: 700;
  --font-heading: Abel;
  --font-subheading: Inter;
  --font-main: Lora;
  --font-size-0: 0.5rem;
  --font-size-1: calc(1.7 * var(--font-size-0));
  --font-size-2: calc(1.7 * var(--font-size-1));
  --font-size-3: calc(1.7 * var(--font-size-2));
  --font-size-4: calc(1.7 * var(--font-size-3));
  --font-size-5: calc(1.7 * var(--font-size-4));
  --font-size-6: calc(1.7 * var(--font-size-5));
  --font-size-7: calc(1.7 * var(--font-size-6));
  /* WIDTH */
  --width-0: 0.45rem;
  --width-1: calc(1.618 * var(--width-0));
  --width-2: calc(1.618 * var(--width-1));
  --width-3: calc(1.618 * var(--width-2));
  --width-4: calc(1.618 * var(--width-3));
  --width-5: calc(1.618 * var(--width-4));
  --width-6: calc(1.618 * var(--width-5));
  --width-7: calc(1.618 * var(--width-6));
  /* INDENTATION */
  --indent-0: 0.25rem;
  --indent-1: calc(1.618 * var(--indent-0));
  --indent-2: calc(1.618 * var(--indent-1));
  --indent-3: calc(1.618 * var(--indent-2));
  --indent-4: calc(1.618 * var(--indent-3));
  --indent-5: calc(1.618 * var(--indent-4));
  --indent-6: calc(1.618 * var(--indent-5));
  --indent-7: calc(1.618 * var(--indent-6));
  --indent-8: calc(1.618 * var(--indent-7));
  /* COLORS */
  --color-primary: #d4d4d4;
  --color-primary-light: #f5f5f9;
  --color-text: #403757;
  --color-black: #1b0f3a;
  --color-white: #fff;
  --color-accent: #824ed7;
  --color-accent-opposite: #e64e20;
  --color-accent-light: #ad98dd;
  --color-accent-extra-light: #edecf2;
  /* BORDER */
  --border-width-bold: 5px;
  --border-width-thin: 2px;
}

h1 {
  font-family: var(--font-heading);
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-mid);
  color: var(--color-text);
}

h2 {
  font-family: var(--font-subheading);
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-strong);
}

html,
body {
  font-family: var(--font-main);
  font-weight: var(--font-weight-light);
  font-size: var(--font-size-1);
  color: var(--color-text);
}

a {
  text-decoration: none;
  color: var(--color-text);
}

pre code.hljs {
  font-size: calc(var(--font-size-2) - 0.3rem);
  line-height: var(--font-size-2);
  margin: var(--indent-4) 0;
  padding: var(--indent-4);
  background-color: var(--code-color-bg);
  color: var(--code-color-text);
  border-radius: var(--indent-2);
  text-overflow: clip;
  word-wrap: normal;
  word-break: break-all;
  display: block;
  overflow-x: auto;
  transition: all 0.3s ease-in-out;
  scroll-behavior: smooth;
  border: 0;
  --code-color-1: #b76fdc;
  --code-color-2: #97cc04;
  --code-color-3: #eeb902;
  --code-color-4: #fc4d61;
  --code-color-5: #5bd8ff;
  --code-color-6: #6496ff;
  --code-color-text: #d2edeb;
  --code-color-bg: #1b262b;
}

.hljs-comment {
  color: var(--code-color-text);
}

.hljs-meta {
  color: var(--code-color-6);
}

.hljs-keyword {
  color: var(--code-color-1);
}

.hljs-title {
  color: var(--code-color-4);
}

.hljs-type {
  color: var(--code-color-3);
}

.hljs-variable {
  color: var(--code-color-3);
}

.hljs-string {
  color: var(--code-color-5);
}

.hljs-attribute {
  color: var(--code-color-3);
}

.hljs-attr {
  color: var(--code-color-3);
}

.hljs-params {
  color: var(--code-color-2);
}

.hljs-function {
  color: var(--code-color-2);
}

.hljs-subst {
  color: var(--code-color-6);
}

.hljs-number {
  color: var(--code-color-6);
}
